body {
    font-family: "Courgette", cursive !important;
  }
  
  .row {
    margin-top: 20px !important;
  }
  
  .input-search {
    width: 90%;
    height: 40px;
    margin: 0;
  }
  
  .btn {
    height: 40px;
    width: 90%;
    margin-top: 10px;
  }
  
  .weather {
    color: #bb2d3b;
  }
  
  h1 {
    text-align: center !important;
    margin-top: 20px !important;
  }
  
  h2 {
    color: #bb2d3b !important;
  }
  
  .fa-sun {
    color: #e69d00;
  }
  
  .fa-cloud-sun {
    color: #5881db;
  }
  
  .right-align {
    text-align: right;
  }
  
  .left-align {
    text-align: left !important;
  }
  
  .active {
    color: rgb(33, 33, 33) !important;
    text-decoration: none !important;
  }
  
  .active:hover {
    cursor: default !important;
  }