body {
    font-family: "Courgette", cursive !important;
  }
  
  .row {
    margin-top: 5px !important;
  }
  
  .input-search {
    width: 95%;
    height: 40px;
    margin: 3px auto 0px !important;
  }
  
  .btn {
    height: 40px;
    width: 95%;
    margin-top: 3px;
  }
  
  .weather {
    color: #bb2d3b;
  }
  
  h1 {
    text-align: center !important;
    margin-top: 20px !important;
  }
  
  h2 {
    color: #bb2d3b !important;
  }
  
  .fa-sun {
    color: #e69d00;
  }
  
  .fa-cloud-sun {
    color: #5881db;
  }
  
  .right-align {
    text-align: right;
  }
  
  .left-align {
    text-align: left !important;
  }
  
  .active {
    color: rgb(33, 33, 33) !important;
    text-decoration: none !important;
  }
  
  .active:hover {
    cursor: default !important;
  }

  .weather-box{
    border: 5px #939393 solid !important;
    border-radius: 10px !important;
    margin: 0px 3px 3px !important;
  }

  .top-part{
    margin: 3px 3px;
  }

  #max-temperature{
    color: #bb2d3b;
  }

  #min-temperature{
    color: darkslateblue;
    font-size: 14pt !important;
  }